**/obj/Debug/**
**/bin/Debug/**
Source/MailMessaging.v12.suo
Source/packages/**
Source/MailMessaging.sln.DotSettings.user
Build/Output/**
**/obj/Release/**
Source/WinRT/MailMessaging.Plain.WinRT.IntegrationTest/AppPackages/**
