**/obj/Debug/**
**/bin/Debug/**
Source/.vs/MailMessaging/v14/.suo
Source/MailMessaging.v12.suo
Source/packages/**
Source/MailMessaging.sln.DotSettings.user
**/obj/Release/**
**/bin/TestDebug/**
**/obj/TestDebug/**
Source/.idea/**
/Source/.vs/MailMessaging/v15/.suo
