<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.2.1" targetFramework="portable-win81+wpa81" />
  <package id="MetroLog" version="0.8.6" targetFramework="portable-win81+wpa81" />
  <package id="MetroLog.Targets" version="1.0.0.0" targetFramework="portable-win81+wpa81" />
  <package id="NUnit" version="3.0.0-alpha-5" targetFramework="portable-win81+wpa81" />
</packages>